@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-primary: #a2efff;
    --color-secondary: #031b20;
    --color-tertiary: #f6716e;
    --rounded-xl: 40px;
    --rounded-lg: 30px;
    --rounded--md: 50px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:"Poppins", sans-serif;
   
}

/*Globales*/
.btn {
    background-color: #000;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 20px 70px;
    border-radius: var(--rounded--md);

    @media (max-width: 768px){
        padding: 20px 40px;
    }
}

h2{
    font-size: 45px;
    font-weight: 600;

    @media (max-width: 768px) {
        text-align: center;
        font-size: 35px;
        line-height: 40px; 
    }
}

.time,
category{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #686b66;
    line-height: 0;

    i{
        color: #000;
        font-size: 16px;
    }
}

.logo{
    a{
        font-family: 'Lobster';
        text-decoration: none;
        color:#000;
        font-size: 50px;
    }
    
}

/* Utilidades */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*************/
/* Header */
/*************/
header{
    border-bottom: 1px solid #c4c4c4;
    padding: 30px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9dc274;
    

    button{
        border: none;
        background: none;
        outline: none;

        i{
            font-size: 22px;
        }

        @media (min-width:768px) {
            display: none;
        }
    }

    .navigation-header{
        display: flex;
        gap: 40px;

        a{
            text-decoration: none;
            color: #000;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .social-links{
        display: flex;
        gap: 25px;

        li{
            list-style: none;
        }

        a{
            text-decoration: none;
            color: #000;

            i{
                font-size: 22px;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 30px;

        .social-links{
            display: none;
        }

        .navigation-header{
            display: none;
        }
    }
}

.menu-mobile{
    display: flex;
    gap: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 999;
    clip-path: circle(0% at top left);
    transition: clip-path 0.5s ease-in-out;

    .btn-close{
        position: absolute;
        top: 40px;
        right: 40px;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;

        i{
            font-size: 22px;
        }
    }

    .logo {
        a{
            font-size: 40px;
        }
    }

    .navigation-mobile{
        display: flex;
        flex-direction: column;
        gap: 15px;

        a{
            text-decoration: none;
            color: #000;
            font-weight: 500;
            text-align: center;
            font-size: 22px;
        }
    }

    .social-links{
        display: flex;
        gap: 30px;

        i{
            font-size: 26px;
        }
    }
}
.menu-mobile.active{
    clip-path: circle(0% at top left);
}

/* desplegable */

.dropdown ul {
  display: none;
  position: absolute;
  background-color: #DFF5AF;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Mostrar submenú al hacer hover */
.dropdown:hover ul {
  display: block;
}

/* Estilo para los items del submenú */
.dropdown ul li {
  padding: 10px 20px;
}

.dropdown ul li a {
  text-decoration: none;
  color: black;
  display: block;
}

/* Para que el contenedor .dropdown tenga posición relativa */
.dropdown {
  position: relative;
}

/* ************ */
/* Banner hero  */
/* ************ */
.section-banner-hero{
    display: flex;
    gap: 30px;
    background-color: #DDF4AD;
    border-radius: var(--rounded-xl);
    overflow: hidden;

    margin-top: 80px;
    margin-bottom: 50px;

    .content{
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1{
            font-size: 50px;
            font-weight: 600;
            line-height: 55px;
        }

        p{
            color: #333;
            line-height: 24px;
            padding-right: 35px;
            margin: 10px 0 30px;
        }

        .badges{
            align-self: center;
            display: flex;
            gap: 40px;

            span{
                display:flex;
                align-items: center;
                gap: 15px;

                font-weight: 700;
                font-size: 14px;
                background-color: #789C59;
                padding: 8px 20px;
                border-radius: 1000px;
                line-height: 0;

                i{
                    font-size: 16px;
                }
            }
        }

        button{
            background-color: #000;
            color: #fff;
            border: none;
            padding: 20px 50px;
            margin-top: 30px;
            cursor: pointer;
            border-radius: 100px;
            font-family: inherit;
            font-weight: 600;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            i{
                font-size: 20px;
            }
        }

        .badge-hot-recipes{
            background-color: #fff;
            color: #000;
            font-size: 16px;
            font-weight: 600;
            padding: 10px 30px;
            border-radius: 1000px;
            letter-spacing: -0.5px;

            align-self: flex-start;
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }

    .container-img{
        flex: 1;

        img{
            width:100%;
            height: 100%;
            object-fit: cover;

        }
    }
    @media (max-width:768px){
        flex-direction: column;
        gap:0;
        
        .content{
            padding: 20px;

            .badge-hot-recipes{
                font-size: 13px;
            }

            h1{
                font-size: 40px;
                line-height: 45px;
            }

            p{
               display: none;
            }

            .badges{
                gap: 20px;
                align-self: flex-start;
                margin: 15px 0;
            }

            button{
                margin-top: 0;
                margin-bottom: 10px;
            }
        }

        .container-img{
            order: -1;
        }
    }
}

/* *********************** */
/*        General          */
/* *********************** */
.nosotros {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #333;

}

.nosotros h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #d35400;
}

.quienes-somos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.quienes-somos .texto {
  flex: 2;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  flex: 1 1 300px;
}

.quienes-somos .imagen {
  flex: 1 1 300px;
}

.quienes-somos img {
  max-width: 200px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  flex: 1 1 300px;
}

.mision-vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  gap: 2rem;
}

.mision-vision .vision img {
   max-width: 250px; 
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.mision-vision .mision img {
  max-width: 400px; 
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.mision, .vision {
  flex: 1;
  text-align: center;
}

.mision img, .vision img {
  max-width: 150px;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.mision h3, .vision h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #d35400;
}

.mision p, .vision p {
  font-size: 1rem;
  padding: 0 1rem;
}

.frase-motivacional {
  margin-top: 3rem;
  font-size: 1.4rem;
  color: #555;
  font-style: italic;
}

/* CONTACTO */

.contacto {
  max-width: 800px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #fff9f3;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

.contacto h2 {
  font-size: 2rem;
  color: #e57c00;
  margin-bottom: 1rem;
  text-align: center;
}

.form-contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-contacto input,
.form-contacto textarea {
  font-family: 'Poppins';
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-contacto button {
  background-color: #e57c00;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.form-contacto button:hover {
  background-color: #cf6a00;
}

.info-extra {
  margin-top: 2rem;
  font-size: 0.95rem;
  text-align: center;
}

.info-extra a {
  color: #d35400;
  text-decoration: none;
}

/* *************** */
/*     Footer      */
/* *************** */
footer {
    background-color: #9dc274;
    color: black;
}

.footer_info {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}

.footer_info .footer_width {
    padding: 0 15px;
}

.about, .contact {
    width: 40%;
}

.link {
    width: 20%;
}

.social-media {
    margin-top: 30px;
}

.social-media ul {
    display: flex;
}

.social-media ul li a {
    display: inline-block;
    margin-right: 50px;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    background-color: transparent;
    border: 1px solid #fff;
    text-align: center;
}

.link ul li {
    margin-bottom: 15px;
    font-size: 20px;
    list-style: none;
}

.link ul li a {
    text-decoration: none;
    color: black;
}

.link ul li a:hover {
    color: white;
}

/* CENTRADO DE CONTACTOS */
.contact {
    text-align: center;
}

.contact ul {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    text-align: left;
}

.contact ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 10px;
}

.contact ul li span {
    font-size: 1.3rem;
    color: #3e4e1c;
    margin-right: 10px;
}

.copy-rigth {
    padding: 15px 0;
    text-align: center;
    background-color: rgb(66, 66, 66);
}

@media screen and (max-width: 992px) {
    .about, .contact {
        width: 35%;
    }
    .link {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .about, .contact, .link {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer_info {
        flex-direction: column;
    }
}
